:root{
    --main-color: #3B3940;
    --secondary-color: #29272e;
    --scrollbar-color: #343039;
    --secondary-shadow: rgba(18, 16, 23, 0.61);
    --accent-color: #f6941d;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color);
}

body{
    padding: 0;
    margin: 0;
}

#page{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

#content {
    position: absolute;
    background-color: var(--main-color);
    left: 0;
    top: 20vh;
    right: 0;
    bottom: 0;
}

#header{
    position: absolute;
    background-color: var(--main-color);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#logo {
    position: absolute;
    left: 3vw;
    top: 2vh;
    margin: 1vh;
    height: 8vw;
    width: auto;
    cursor: pointer;
}

#about{
    position: absolute;
    margin: 1vh;
    top: 2vh;
    right: 3vw;
    width: fit-content;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    #about {
        top: 10vh;
    }
}

#main{
    position: absolute;
    left: 50vw;
    top: 25vh;
    transform: translate(-50%, -50%);
}

@media screen and (max-aspect-ratio: 10/16){
    #main{
        top: 20vh;
    }
}

#line1{
    font-size: 4vh;
}

#line2{
    font-size: 6vh;
}

#line3{
    font-size: 3vh;
}

.center{
    text-align: center;
}

.button{
    width: fit-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--accent-color);
    color: black;
    border-radius: 1vh;
    margin: 0;
    padding: 2vh 2.5vh;
    text-decoration: none;
    cursor: pointer;
    transition: opacity .6s cubic-bezier(0.22, 0.61, 0.36, 1),
    top .8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.buttonText{
    font-size: 3vh;
    margin: 0;
}

#about, #about:visited{
    font-size: 3vh;
    margin: 3vmin;
    color: white;
    text-decoration: none;
}

#phone{
    position: absolute;
    bottom: 0;
    width: auto;
    right: 10vw;
    height: 20vh;
}

@media screen and (min-aspect-ratio: 55/80){
    #phone{
    height: 25vh;
    }
}

@media screen and (min-aspect-ratio: 14/16){
    #phone{
        height: 30vh;
    }
}

@media screen and (min-aspect-ratio: 11/10){
    #phone{
        height: 40vh;
    }
}

@media screen and (min-aspect-ratio: 15/8){
    #phone{
        right: 5vw;
        height: 60vh;
    }
}

@media screen and (max-width: 380px){
    #phone {
        left: 50%;
        transform: translateX(-50%);
    }
}

#aboutPopup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .6s cubic-bezier(0.22, 0.61, 0.36, 1),
        top .8s cubic-bezier(0.22, 0.61, 0.36, 1);
    height: 45vh;
    width: 45vw;
    border-radius: 5vh;
    box-shadow: .5vw 1.5vh 5vh var(--secondary-shadow);
    background-color: var(--secondary-color);
    margin: 0;
}

@media screen and (min-width: 850px){
    #aboutPopup{
        width: 70vw;
    }
}

@media screen and (max-width: 850px){
    #aboutPopup{
        width: 80vw;
    }

}

@media screen and (max-width: 550px){
    #aboutPopup{
        width: 90vw;
        height: 65vh;
    }

}

@media screen and (max-width: 350px){
    #aboutPopup{
        top: 60%;
        width: 100vw;
        height: 80vh;
    }

}

.hidden{
    pointer-events: none;
    top: 55% !important;
    opacity: 0;
}

#aboutTitle{
    font-size: 4vh;
    margin: 1% 5vw 0;
    text-align: center;
    height: 20%;
}

#aboutMain{
    position: absolute;
    margin: 0 2vw 6vh;
    top: 6vh;
    height: 80%;
    overflow-y: auto;
}

#loader-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, #181429 0%, #0d071a 80%);
    z-index: 100;
}

#loader{
    position: absolute;
    text-align: center;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 101;
}

#loader > p{
    text-align: center;
    font-family: sans-serif;
    display: inline;
    font-size: 8vh;
    color: #eee;
    text-shadow: 0 0 20px rgba(255, 246, 168, 0.71);
}

.dots{
    height: 5vh;
    text-align: center;
}

.dot{
    display: inline-flex;
    position: relative;
    height: 2.5vh;
    width: 2.5vh;
    background-color: #fff;
    border-radius: 50%;

}

#loader.loaded{
    transform: translate(-50%, -100vh);
    transition: all .6s;
}

#loader-wrapper.loaded{
    visibility: hidden;
    opacity: 0;
    transition: all .3s .4s;
}


@-webkit-keyframes load {
    0%{
        top: 0;
        background-color: #fff;
        box-shadow: 0 0 20px #fff;

    }
    10%{
        top: 100%;
        background-color: #ff674f;
        box-shadow: 0 0 20px #ff674f;
    }
    20%{
        top: 0;
        background-color: #fff;
        box-shadow: 0 0 20px #fff;
    }
    30%{
        top: 100%;
        background-color: #fff35d;
        box-shadow: 0 0 20px #fff35d;
    }
    40%{
        top: 0;
        background-color: #fff;
        box-shadow: 0 0 20px #fff;
    }
    50%{
        top: 100%;
        background-color: #87ffb7;
        box-shadow: 0 0 20px #87ffb7;
    }
    60%{
        top: 0;
        background-color: #fff;
        box-shadow: 0 0 20px #fff;
    }
    70%{
        top: 100%;
        background-color: #90d0ff;
        box-shadow: 0 0 20px #90d0ff;
    }
    80%{
        top: 0;
        background-color: #fff;
        box-shadow: 0 0 20px #fff;
    }
    90%{
        top: 100%;
        background-color: #b590ff;
        box-shadow: 0 0 20px #b590ff;
    }
    100%{
        top: 0;
        background-color: #fff;
        box-shadow: 0 0 20px #fff;
    }

}

.dot1{
    animation: load 6.5s cubic-bezier(0.75, 0, 0.25, 1) infinite;
}
.dot2{
    animation: load 6.5s 0.2s cubic-bezier(0.75, 0, 0.25, 1) infinite;
}
.dot3{
    animation: load 6.5s 0.4s cubic-bezier(0.75, 0, 0.25, 1) infinite;
}